<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>About Team</title>
  </head>
  <header>
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About Team</a></li>
        <li><a href="{{url_for('features')}}">Features</a></li>
        <li><a href="{{url_for('commands')}}">Command List</a></li>
      </ul>
    </nav>
  </header>
  <body>

  </body>

  <footer>
    <p class="footer-contents">&copy; 2023 Ark. All Rights Reserved.</p>
  </footer>
</html>